<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("RelationallyLG.png", width: '399', height: '75') %></center>
<center>
<h3>Editing your profile</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    Your Name:<br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    Your Company Name:    <%= f.text_field :company_name %>
  </div>
    <div class="field">
    Your CRM System:    <%= f.text_field :crm %>
      </div>
        <div class="field">
    Your CRM Username:  <%= f.text_field :un %>
      </div>
        <div class="field">
    Your CRM Password:    <%= f.text_field :pw %>
      </div>
    <div class="field">
    Your Cell Phone Number:    <%= f.telephone_field :cell %>
  </div>
    <div class="field">
    A secondary phone: <i>(optional)</i>    <%= f.telephone_field :phone2 %>
  </div>

  <div class="field">
    <%= f.label :email %>    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<div class="standout">
  <i>Only complete this section to change your Realationally password</i>
  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>
<div class="toppadding5">
  <div class="field">
    <%= f.label :current_password %> <%= f.password_field :current_password, autocomplete: "off" %>
    <br><i>(enter your current password to confirm your profile changes)</i>
    
  </div>
</div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
