<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("RelationallyLG.png", width: '399', height: '75') %></center>
<center>
  

<h2>Create a new account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    Your Name:    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    Your Company Name:    <%= f.text_field :company_name %>
  </div>
    <div class="field">
    Your CRM System:    <%= f.select :crm, [ 'Salesforce', 'Microsoft Dynamics', 'Sugar CRM', 'Zoho', 'Oracle Sales Cloud', 'Base', 'Pipedrive', 'Other' ], :prompt => 'Select One' %>
      </div>
        <div class="field">
    Your CRM Username:  <%= f.text_field :un %>
      </div>
        <div class="field">
    Your CRM Password:    <%= f.text_field :pw %>
      </div>
    <div class="field">
    Your Cell Phone Number:    <%= f.telephone_field :cell %>
  </div>
    <div class="field">
    A secondary phone: <i>(optional)</i>    <%= f.telephone_field :phone2 %>
  </div>

  <div class="field">
    Your email address <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    Password
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    Confirm your password<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <%= f.invisible_captcha :honeypot %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
  <hr> 
      <div>
          <center>Having trouble?<br>  Reach out to us at <a href="mailto:support@relationally.net">support@relationally.net</a></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>

</div>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
    50% Complete 
  </div>
</div>